# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pkl

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cookie
.hypothesis/
.pytest_cache/
pytestdebug.log

# Node & Next.js
node_modules/
.next/
out/
.vercel

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
